@model IEnumerable<AirlineReservationSystem.Models.TblPassenger>

@{
    ViewData["Title"] = "GetPassengerDetails";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Passenger Details</h1>

@if (@ViewBag.msg != null)
{
    <script type="text/javascript">alert('@ViewBag.msg');</script>
}
<style>
    h1 {
        text-transform: uppercase;
        color: #ffffff;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: oblique;
        text-shadow: 4px 2px #808080;
    }
    th {
        background-color: #333333;
        color: white;
    }

    td {
        background-color: azure;
        color: black;
    }
</style>
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PassengerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seatno)
            </th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PassengerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Seatno)
                </td>


            </tr>
        }
    </tbody>
</table>
