@*@model IEnumerable<AirlineReservationSystem.Models.Tblticket>*@
@using static AirlineReservationSystem.Models.PagedResultBase;
@addTagHelper *, LazZiya.TagHelpers
@model PagedResult<Tblticket>
@{
    ViewData["Title"] = "GetTicketDetails";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Ticket Details</h1>

@if (@ViewBag.msg != null)
{
    <script type="text/javascript">alert('@ViewBag.msg');</script>
}
<style>
    h1 {
        text-transform: uppercase;
        color: #ffffff;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: oblique;
        text-shadow: 4px 2px #808080;
    }

    th {
        background-color: #333333;
        color: white;
    }

    td {
        background-color: azure;
        color: black;
    }
</style>
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>
               FirstName
            </th>
            <th>
               Classtype
            </th>
            <th>
               SeatsReserved
            </th>
            <th>
               TicketType
            </th>
            <th>
               ReturnDate
            </th>
            <th>
                Amount
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Results)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Classtype)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalSeatsReserved)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReturnDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalAmount)
                </td>
                <td>
                    <a class="btn btn-outline-primary" asp-action="GetPassengerDetails" asp-route-id="@item.Tid">PassengerDetails</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
<paging page-no="@Model.CurrentPage"
        page-size="@Model.PageSize"
        total-records="@(Model.RowCount)">
</paging>